config.json
node_modules
build/
.next/
.env
.DS_STORE
.vscode/
giveaways.json
dist/

# remove service workers, will be present when running `npm run build`.
public/*.js
public/*.map
public/sitemap*
descriptions_data.json

.husky/_
.husky/.gitignore

test.html
tsconfig.tsbuildinfo
.tsbuildinfo