.btn {
  padding: 0.5rem 0.8rem;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  background: var(--secondary);
  transition: 200ms;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

@media (hover: hover) {
  .btn-primary:hover {
    background: var(--blue);
  }
}
