.modal-container {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal {
  z-index: 35;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  width: 700px;
  max-width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--main-br);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.modal-header h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.modal-body {
  padding: 1rem 0;
  font-size: 1.1rem;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 200ms, filter 200ms;
}

.modal.active {
  animation: openModal 200ms linear;
}

.modal-container.active {
  display: flex;
}

@keyframes openModal {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close-btn:focus {
  outline: none;
  background: var(--secondary);
  filter: brightness(120%);
}

@media (hover: hover) {
  .close-btn:hover {
    background: var(--secondary);
    filter: brightness(120%);
  }
}
